<div class="container">
  <h2>LISTADO DE PRODUCTOS</h2>
  <br>
  <p *ngIf="!products || products.length === 0">Nada listado</p>

  <ul *ngIf="products && products.length > 0">
    <li *ngFor="let product of products; let i = index">
      <strong>{{ product.name }}</strong> - Tipo: {{ product.type }}

      <p>
        {{ showMore[i] ? product.details : (product.details | slice:0:50) }}
        <span *ngIf="!showMore[i] && product.details.length > 50">...</span>
      </p>

      <button *ngIf="product.details.length > 50" class="btn-view" (click)="toggleShowMore(i)">
        {{ showMore[i] ? 'Ver Menos' : 'Ver Más' }}
      </button>

      <button class="btn-delete" (click)="deleteProduct(i)">Eliminar</button>
      <button class="btn-edit" (click)="loadProductForEdit(i)">Editar</button>
    </li>
  </ul>

  <h3>{{ editingIndex !== null ? 'Editar Producto' : 'Agregar Producto' }}</h3>

  <form *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="saveProduct()">
    <input
      formControlName="name"
      placeholder="Nombre del producto"
      required
    />

    <select formControlName="type" required>
      <option *ngFor="let type of tiposProducto" [value]="type">{{ type }}</option>
    </select>

    <textarea
      formControlName="details"
      placeholder="Detalles del producto"
      class="single-line-textarea"
    ></textarea>

    <button type="submit" class="btn-add" [disabled]="productForm.invalid">
      {{ editingIndex !== null ? 'Actualizar' : 'Agregar' }}
    </button>
  </form>
</div>
